@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$font-size: 15px;
$title-font-size: 32px;

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size;
  font-family: "Alata", sans-serif;
  color: $very-dark-gray;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hide-mobile {
  display: none;
}
.hide-desktop {
  display: none;
}

header.header {
  background: url(../assets/mobile/image-hero.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  div.container {
    nav.navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      img.logo {
        width: 120px;
      }
    }

    h1.intro-text {
      color: $white;
      margin-top: 130px;
      text-transform: uppercase;
      padding: 20px;
      border: 2px solid $white;
      font-size: 45px;
      font-weight: lighter;
      font-family: "Josefin Sans", sans-serif;
    }

    div.mobile-navigation {
      position: fixed;
      height: 100vh;
      z-index: 40;
      width: 100vw;
      background: $black;
      top: 0;
      left: 0;
      padding: 50px 30px;
      transform: translateY(-100vh);
      transition: 0.3s;
      &.open {
        transform: translateY(0);
      }

      &.close {
        transform: translateY(-100vh);
      }
      div.top {
        display: flex;
        justify-content: space-between;
        padding: 0 0;
        margin-bottom: 120px;
      }
      ul.nav {
        li {
          padding-bottom: 15px;
          a {
            color: $white;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: lighter;
            font-family: "Josefin Sans", sans-serif;
          }
        }
      }
    }
  }
}

section.vr-history {
  padding: 70px 30px;
  div.container {
    div.writeup {
      text-align: center;
      padding: 20px;
      h1 {
        padding: 20px 0;
        font-family: "Josefin Sans", sans-serif;
        font-size: $title-font-size;
      }
      p {
        line-height: 30px;
      }
    }
  }
}

section.our-creations {
  padding: 30px;
  div.container {
    h1 {
      padding-bottom: 60px;
      text-align: center;
      font-size: $title-font-size;
      font-family: "Josefin Sans", sans-serif;
    }

    div.creations {
      &.desktop {
        display: none;
      }
      div.creation {
        position: relative;
        margin-bottom: 20px;
        h2 {
          position: absolute;
          color: $white;
          text-transform: uppercase;
          z-index: 10;
          bottom: 20px;
          left: 20px;
          width: 120px;
          font-weight: 500;
          font-family: "Josefin Sans", sans-serif;
        }
      }
    }
    button.see-all {
      padding: 12px 50px;
      background: transparent;
      border: 2px solid $very-dark-gray;
      color: $very-dark-gray;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      margin: 40px auto;
    }
  }
}

footer {
  background: $black;
  padding: 40px 20px;
  section.links {
    text-align: center;
    img.lg {
      width: 130px;
      margin-bottom: 10px;
    }
    ul {
      li {
        padding: 15px 0;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  section.social {
    margin-top: 20px;
    div.social {
      text-align: center;
      img {
        width: 20px;
      }
      a {
        margin: 0 10px;
      }
    }
    div.copyright {
      color: $dark-gray;
      text-align: center;
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hide-desktop {
    display: none !important;
  }
  .hide-mobile {
    display: block;
  }
  div.container {
    width: 1000px;
    margin: 0 auto;
  }
  header.header {
    background: url(../assets/desktop/image-hero.jpg);
    background-position: center;
    div.container {
      nav.navigation {
        img.burger {
          display: none !important;
        }
        img.logo {
          width: 150px;
        }
      }
      h1.intro-text {
        display: inline-block;
        width: 500px;
        font-size: 60px;
      }
    }

    ul.desktop-nav {
      li {
        display: inline;
        padding: 0 15px;
        a {
          color: #fff;
          font-weight: bolder;
          text-transform: capitalize;
        }
      }
    }
  }

  section.vr-history {
    div.container {
      position: relative;
      img.vr-image {
        position: relative;
      }
      div.writeup {
        position: absolute;
        right: 0;
        bottom: 0;
        background: #fff;
        right: 0;
        width: 400px;
      }
    }
  }

  section.our-creations {
    div.container {
      display: grid;
      grid-template-areas:
        "h1el see-all"
        "gd gd";
      align-items: center;
      h1.cr {
        grid-area: h1el;
        padding: 0;
        margin: 0;
        text-align: left;
      }
      button.see-all {
        grid-area: see-all;
        justify-self: end;
        margin: 0;
      }
      div.creations {
        grid-area: gd;
        margin-top: 50px;
        &.mobile {
          display: none;
        }

        &.desktop {
          display: grid !important;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 20px;
          div.creation {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  footer {
    div.container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      section.links {
        ul {
          li {
            display: inline;
            padding: 0 15px;
          }
        }
      }
    }
  }
}
